@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-pt-serif {
        font-family: 'PT Serif', serif;
    }
    .text-shadow {
        text-shadow: 2px 2px #000000;
    }
}

@layer base {
    body {
      @apply font-pt-serif;
    }
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms;
}